@charset "UTF-8";
/* CSS Document */


#main_container{

	
	margin:auto;
	text-align:left;


}

#module_container{
width:579px;
margin:auto;
}


#form_container{
background-color:#FFF;
width:577px;
border-left:1px solid #a7cee5;
border-right:1px solid #a7cee5;
overflow:hidden;
padding-top:20px;
}

#nettrackz_banner{
	width:579px;
	height:99px;
	background: url(../images/nettrackz_banner.png) no-repeat left top;
}

#nettrackz_bottom{
	width:579px;
	height:21px;
	background: url(../images/nettrackz_bottom.png) no-repeat left top;
}



.round_header{
	margin-top:20px;
	width:579px;
	height:21px;
	background: url(../images/round_header.png) no-repeat left top;
	overflow:hidden;
}

.round_footer{
	width:579px;
	height:21px;
	background: url(../images/nettrackz_bottom.png) no-repeat left top;
}

.box{

background-color:#FFF;
width:557px;
border-left:1px solid #a7cee5;
border-right:1px solid #a7cee5;
font-weight:normal;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#00b2d9;
padding-left:20px;
}

h1{
padding:0px;
margin:0px;

}



/* ----------- stylized ----------- */
.input_heading{
display:block;
font-weight:normal;
text-align:right;
width:140px;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color:#00b2d9;
}


.input{
float:left;
font-size:12px;
/* top right bottom left */
padding:4px 2px 8px 7px;
border:solid 1px #aacfe4;
width:305px;
margin:2px 0 20px 10px;
color:#666666;
}


.button{
float:left;
margin-left:200px;
}



.submit_button {
margin-left:200px;
background: transparent url(../images/nettrackz_submit.png) no-repeat center top;
}

#submit_button {
	
  width: 174px;
  height: 32px;
  margin-left:150px;
  padding: 0;
  border: 0;
  font-size:12px;
  color:#000;
  background: transparent url(../images/nettrackz_button.png) no-repeat center top;
  text-indent: -1000em;
}



.error_box{
display:block;
font-weight:normal;
text-align:left;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
width:370px;
/* top right bottom left */
padding:10px;
border:solid 2px #F00;
background:#ffc3c3;
display:false;
margin-left:23px;
margin-bottom:20px;
color:#FF0000;
}

 .msg_box{
display:block;
font-weight:normal;
text-align:left;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
width:370px;
/* top right bottom left */
color:#FFFFFF;
padding:10px;
border:solid 2px #006633;
background:#66CC66;
display:false;
margin-left:23px;
margin-bottom:20px;
}






