@charset "utf-8";
/* CSS Document */
img {border: none}
* {	margin: 0px;padding: 0px;}


.image_group{
background-color:#F8F8F8;
overflow:hidden;

}


#cv{
color:#CCC;
width:500px;
text-align:justify;
}

p{
padding-bottom:10px;

}


h2{

padding-bottom:15px;
margin:0px;
border:0px;
color:#fff;
}

h3{
font-size:12px;
padding-top:0px;
padding-bottom:0px;
margin:0px;
color:#fff;
}



#shadow_container{

width:1030px;
margin:auto;
background:#F00;
/* top right bottom left */
padding: 0px 2px 0px 2px;
background: url(../images/back_tile.png) repeat-y left top;

}


#container{
width:960px;

/* top right bottom left 
border-width: 0px 1px 0px 1px;
border-style: solid solid solid solid; 
border-color:#CCC;*/
overflow:hidden;
}

#product_container{

background-color:#fffdf2;
width:900px;
padding:10px;
/* top right bottom left */
border-width: 1px 1px 0px 1px;
border-style: solid solid solid solid;
border-color:#c6a794;

}



.image_container{

background-color:#fffdf2;
width:130px;
height:130px;
padding:10px;
/* top right bottom left */
margin:10px 10px 0px 0px;
border-width: 1px 1px 1px 1px;
border-style: solid solid solid solid;
border-color:#c6a794;
overflow:hidden;
float:left;

}


th{
padding:0px;
margin:0px;
border:0px;
color:#b39c8a;
text-align:left;
}





body{

	width:960px;
	margin: 0 auto;
	padding-top:0px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	background-color:#222020;
	color:#fff;
	/* top right bottom left */
}

#banner_container{

	width:960px;
	height:56px;
	/* top right bottom left */
	padding:90px 0px 0px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:27px;
	color:#FFF;
}

#banner_title{
/* background: url(../images/banner_title.png) no-repeat left top; */
width:409px;
height:26px;
}

#banner_title h1 {
display: none;
}

#ajax_container{
margin-bottom:20px;
overflow:hidden;

}

h2{

font-size:12px;
}


#footer_container{

	width:1024px;
	height:100px;

}

#form_container{



}


#main_container{

	width:960px;
	background-color:#F4F4F4;
	overflow:hidden;


}

#left_container{

	width:170px;
	background-color:#FFFF00;
	overflow: hidden;
	height:400px;
	float:left;
}

#page_container{

	width:960px;
	overflow: hidden;
}

#right_container{

	width:170px;
	background-color:#C0C0C0;
	overflow: hidden;
	height:400px;
	float:left;			

}


#text_box{

	width:100px;
	background-color:#FFFF00;
	overflow: hidden;
	height:400px;
	float:left;

}

#text_box2{

	width:100px;
	background-color:#FF00FF;
	overflow: hidden;
	height:400px;
	float:left;

}



#box{
	background-color:#CCC;
	border:1px solid #666;
	padding:20px;
	
}

.input-text{
border:1px solid #666;
color:#666666;
padding:0px;
margin:0px;
display:block;
overflow:hidden;
}

label{
display:block;
margin-bottom:10px;
color:#555555;
overflow:hidden;
width:700px;
}

.field{
display:block;
float:left;
padding-right:6px;
width:90px;
text-align:left;
font-weight:normal;
overflow:hidden;
}

.input{
display:block;
float:left;
padding-right:6px;
width:200px;
text-align:left;
font-weight:normal;
overflow:hidden;

}

.error{
display:block;
float:left;
text-align:left;
font-weight:normal;
overflow:hidden;
color:#F00;
}




#login_container{

  width:1000px;
  background-color:#FFF;

}

/* ----------- My Form ----------- */
.myform{
margin:0 auto;
width:400px;
padding:14px;
}

h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}


/* ----------- stylized ----------- */
#stylized{
border:solid 2px #b7ddf2;
background:#ebf4fb;
overflow: hidden;
}
#stylized h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}
#stylized p{
font-size:11px;
color:#666666;
margin-bottom:20px;
border-bottom:solid 1px #b7ddf2;
padding-bottom:10px;
}
#stylized .input_heading{
display:block;
font-weight:bold;
text-align:right;
width:140px;
float:left;
}
#stylized .error_box{
display:block;
font-weight:normal;
text-align:left;
width:370px;
float:left;
font-size:11px;
/* top right bottom left */
padding:10px;
margin:0px 0px 20px 0px;
border:solid 2px #F00;
background:#ffc3c3;
display:false;
}
#stylized .forgotten_link{
display:block;
font-weight:normal;
text-align:left;
width:340px;
float:left;
font-size:11px;
margin:0px 0px 20px 100px;
}

#stylized .forgotten_link2{
display:block;
font-weight:normal;
text-align:left;
width:340px;
float:left;
font-size:11px;
margin:0px 0px 20px 0px;

}

#stylized .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:140px;
}

#stylized input{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:2px 0 20px 10px;
}

#stylized button{
clear:both;
margin-left:150px;
width:125px;
height:31px;
background:#666666 url(img/button.png) no-repeat;
text-align:center;
line-height:31px;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
}


.errorfield {
	border:2px solid #ff0000;
}

.error_box {
	display:block;
	font-weight:normal;
	text-align:left;
	font-size:11px;
	padding:10px;
	margin:0px 0px 20px 0px;
	border:solid 2px #F00;
	background:#ffc3c3;
}


#menu_container{

width:1024px;
overflow:hidden;
padding-bottom:35px;
}

#menu_left{
overflow:hidden;
float:left;
}

#menu_right{
overflow:hidden;
float:right;
}

#slideshow_container{
width:650px;
height:280px;
background:#000;
color:#FFF;
border:solid 1px #000;
/* top right bottom left */
margin:15px 0px 0px 15px;
float:left;
}

#slideshow_text_bg{
width:560px;
height:60px;
background:#000;
color:#FFF;
position: absolute;
z-index:997;
/* top right bottom left */
margin:220px 0px 0px 90px;
/* These three lines are for transparency in all browsers. */
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
filter: alpha(opacity=50);
opacity:.5;
}

.slideshow_text{
width:560px;
height:60px;
color:#FFF;
position: absolute;
z-index:998;
/* top right bottom left */
margin:220px 0px 0px 90px;
padding:10px 0px 0px 10px;
font-size: 20px;
line-height: 1.2;
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
}

.smalltext{
color:#CCC;
font-family:Arial, Helvetica, sans-serif;
font-weight:normal;
font-size: 12px;
}




#slideshow_links {
position: absolute; 
height:280px;
width:90px;
z-index:1000;
/* top right bottom left */
margin:2px 0px 0px 0px;
}

#slideshow_links_bg {
position: absolute; 
height:280px;
width:90px;
z-index:999;
background:#000;
/* These three lines are for transparency in all browsers. */
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
filter: alpha(opacity=50);
opacity:.5;
}

a.slide_link img{
border:solid 1px #000;
/* top right bottom left */
margin:7px 1px 1px 8px;
float:left;
}

a.slide_link:hover img{
border:solid 2px #FFF;
/* top right bottom left */
margin:6px 0px 0px 7px;
}

.thumb_arrow{
background:CCC;
height:40px;
width:10px;
float:left;

}

.slide_thumb{
/* top right bottom left */
margin:8px 0px 0px 8px;
border:solid 1px #000;

}

.slides{
position: absolute;
}


/* ----------- main menu css ----------- */

#js_wrap {

background: #000;
font: 17px Tahoma, Arial;
border-bottom: 1px solid white;
border-left: 1px solid white;
}

#jsddm
{	margin: 0;
	padding: 0}
	
	#jsddm li
	{	float: left;
		list-style: none;
		font: 12px Tahoma, Arial
	}
	
	#menu_link_start
	{	display: block;
		
		/* top right bottom left */
		padding: 5px 12px 5px 0px;
		
		text-decoration: none;
		border-right: 1px solid white;
		color: #FFF;
		white-space: nowrap
	}

	#menu_link_end
	{	display: block;
		
		/* top right bottom left */
		padding: 5px 0px 5px 12px;
		text-decoration: none;
		
		color: #FFF;
		white-space: nowrap
	}
	
	#menu_link
	{	display: block;
		
		padding: 5px 12px;
		text-decoration: none;
		border-right: 1px solid white;
		color: #FFF;
		white-space: nowrap
	}

	#jsddm li a:hover
	{	background: #000;
		text-decoration:underline;
	}
		
		#jsddm li ul
		{	margin: 0;
			padding: 0;
			position: absolute;
			visibility: hidden;
			border-top: 1px solid white;
			z-index:1001;
		}
		
		#jsddm li ul li
		{	float: none;
			display: inline}
		
		#jsddm li ul li a
		{	
			width: auto;
		}
		
		#jsddm li ul li a:hover
		{	}


/* ----------- box1 ----------- */
.box1_container_left{
/* top right bottom left */
margin:0px 0px 0px 0px;
float:left;
/* top right bottom left 
border-width: 1px 1px 1px 1px;
border-style: solid solid solid solid;
border-color:#FFF;*/
color:#fff;
}

.box1_container_right{
/* top right bottom left */
margin:0px 0px 0px 0px;
float:right;
/* top right bottom left 
border-width: 1px 1px 1px 1px;
border-style: solid solid solid solid;
border-color:#FFF;*/
color:#fff;
}

.box1_content h1{
font-size: 13px;
line-height: 1.2;
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
color:#fff;
}

.box1_content{
color:#fff;
text-align:right;
}

.box1_padding{
/* top right bottom left */
padding:0px 0px 0px 0px;
}

.box1_top{
width:322;
height:6px;
background:url(../images/box_tile_top.png) repeat-x left top;
}

.box1_bottom{
width:322;
height:6px;
background:url(../images/box_tile_bottom.png) repeat-x left top;

}

.box1_content li{
list-style-type:none;
/* top right bottom left */
padding:4px 0px 4px 0px;

}

.box1_content a{
text-decoration:none;
color:#858784;
}

.box1_content a:hover{
color:#858784;
text-decoration:underline;
}

* {
	border:0;
	margin:0;
	padding:0;
}

.box1_content hr{
border-bottom:1px solid #cacaca;
height:1px;
/* top right bottom left */
margin: 10px 0px 10px 0px;
padding:0;
background-color: #ffffff;
height: 0px ;
}



#selected_design{

}

#selected_design_container{
padding-bottom:55px;
overflow:hidden;
height:370px;
}

.thumb{
/* These three lines are for transparency in all browsers. */
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
filter: alpha(opacity=40);
opacity:.4;
border: 0px solid #cacaca;
}

.thumb_lit{
/* These three lines are for transparency in all browsers. */
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter: alpha(opacity=100);
opacity:1;
}



