

<div id="nettrackz_banner"></div>
<div id="form_container">

 	<label id="error_box" class="error_box"></label>
  
  {message_box}
  
  
	<div class="myform">
  
  
   
	<form id="form" name="form" method="post" action="manage_update.php">
  
					<input type="hidden" name="alexid" value="{alexid}" />
					<input type="hidden" name="prodid" value="{prodid}" />
					<input type="hidden" name="salid" value="{salid}" />
					<input type="hidden" name="transid" value="{transid}" />
					<input type="hidden" name="bid" value="{bid}" />
					
  
	
  
 
  
  
	<label class="input_heading">Company Name
	<span class="small"></span>
	</label>
	<input class="input" type="text" name="companyname" id="companyname" value="{companyname}" />
	    
    
	<label class="input_heading">Address 1
	<span class="small"></span>
	</label>
	<input class="input" type="text" name="address1" id="address1" value="{address1}" />


	<label class="input_heading">Address 2
	<span class="small"></span>
	</label>
	<input class="input" type="text" name="address2" id="address2" value="{address2}" />



	<label class="input_heading">Town
  <span class="small"></span>
	</label>
	<input class="input" type="text" name="town" id="town" value="{town}" />
  
  
  
	<label class="input_heading">Postcode
  <span class="small"></span>
	</label>
	<input class="input" type="text" name="postcode" id="postcode" value="{postcode}" />

  
  <label class="input_heading">Url
  <span class="small"></span>
	</label>
	<input class="input" type="text" name="url" id="url" value="{url}" />
  
  
  <label class="input_heading">Email
  <span class="small"></span>
	</label>
	<input class="input" type="text" name="email" id="email" value="{email}" />
  
  
  <label class="input_heading">Telephone
  <span class="small"></span>
	</label>
	<input class="input" type="text" name="telephone" id="telephone" value="{telephone}" />


  <label class="input_heading">Name
  <span class="small"></span>
	</label>
	<input class="input" type="text" name="name" id="name" value="{name}" />
   
	
  <label class="input_heading">
  <span class="small"></span>
	</label>
  
  <label class="input_heading">
  <input type="button" value="Save Changes" id="submit_button" />
	</label>
  
 
 
	</form>
  
 
  
	<div class="spacer"></div>
  
	  
	</div>
	
</div>

<div id="nettrackz_bottom"></div>