<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
 
<head> 

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Leighton, recruitment, careers, web develper, web designer" /> 
<meta name="description" content="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent in magna." /> 
<meta name="language" content="en-uk" /> 
<meta name="author" content="Scoot www.scoot.co.uk" /> 
<meta name="copyright" content="Leighton 2007" /> 

{css}

<script src="javascript/prototype.js" type="text/javascript"></script>

{scripts}

 


<title>{title}</title>

</head> 

	<body> 
	
  
