


<div id="login_container">

	<div id="stylized" class="myform">
	<form id="form" name="form" method="post" action="index.php">
	<h1>CRISP Login</h1>
	<p>Please login using email and password</p>
	
	<label class="error_box">{error_box}</label>
	
	<label class="input_heading">Email
	<span class="small"></span>
	</label>
	<input type="text" name="email" id="email" value="{email}" />
	
	<label class="input_heading">Password
	<span class="small"></span>
	</label>
	<input type="password" name="password" id="password" value="{password}"/>
	
	<label class="forgotten_link"><a href="javascript:load_page()" id="forgotten_link">Forgotten your password? click here</a>
  </label>
	
	<button type="submit">Login</button>
	<div class="spacer"></div>
	
	</form>
	</div>
	
</div>